#Root_Main .fieldgroup.UniqueId {
  padding-bottom: 0px;
}
#Root_Main .fieldgroup.UniqueId #ImmoDbUniqueIDLeft {
  border-bottom: none;
  box-shadow: none;
  float: left;
  margin-right: 10px;
  width: 120px;
}
#Root_Main .fieldgroup.UniqueId #ImmoDbUniqueIDRight {
  float: left;
}

#Root_Main input.numeric, #Root_Main input.currency,
#Root_Immobilie input.numeric,
#Root_Immobilie input.currency {
  width: 160px;
  text-align: right;
}
#Root_Main .grundstueckFields,
#Root_Immobilie .grundstueckFields {
  padding: 10px;
  background: #D4D6D8;
  border: 1px solid #B7B3B9;
}


#Root_Main .poolFields,
#Root_Immobilie .poolFields {
  border-bottom: 1px solid #d0d3d5;
  box-shadow: 0 1px 0 rgba(245, 245, 245, 0.8);
}

#Root_Main .grundstueckFields .optionset li,
#Root_Immobilie .grundstueckFields .optionset li {
  width: auto;
}
#Root_Main .grundstueckFields .optionset li label,
#Root_Immobilie .grundstueckFields .optionset li label {
  padding-left: 2px;
  padding-right: 14px;
}
#Root_Main .grundstueckFields h3,
#Root_Immobilie .grundstueckFields h3 {
  margin-top: 2px;
}
#Root_Main .grundstueckFields .pool,
#Root_Immobilie .grundstueckFields .pool {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #D0D3D5;
  box-shadow: 0 1px 0 rgba(245, 245, 245, 0.8);
}
#Root_Main .grundstueckFields .pool #ImmoDbGrundstueckPool,
#Root_Main .grundstueckFields .pool #ImmoDbGrundstueckPoolGroesse,
#Root_Immobilie .grundstueckFields .pool #ImmoDbGrundstueckPool,
#Root_Immobilie .grundstueckFields .pool #ImmoDbGrundstueckPoolGroesse {
  float: left;
  border: none;
  box-shadow: none;
}
#Root_Main .grundstueckFields .pool #ImmoDbGrundstueckPool,
#Root_Immobilie .grundstueckFields .pool #ImmoDbGrundstueckPool {
  width: 140px;
}
#Root_Main .grundstueckFields .pool #ImmoDbGrundstueckPoolGroesse,
#Root_Immobilie .grundstueckFields .pool #ImmoDbGrundstueckPoolGroesse {
  width: 230px;
  margin-top: 0px;
}
#Root_Main .grundstueckFields .pool #ImmoDbGrundstueckPoolGroesse label,
#Root_Immobilie .grundstueckFields .pool #ImmoDbGrundstueckPoolGroesse label {
  font-weight: normal;
  padding: 0px;
  text-shadow: none;
}
#Root_Main .grundstueckFields #ImmoDbGrundstueckAltbestandTyp,
#Root_Immobilie .grundstueckFields #ImmoDbGrundstueckAltbestandTyp {
  border: none;
  box-shadow: none;
}
#Root_Main .grundstueckFields #ImmoDbGrundstueckAltbestandCaM2 .middleColumn,
#Root_Immobilie .grundstueckFields #ImmoDbGrundstueckAltbestandCaM2 .middleColumn {
  margin-left: 184px;
}

.Immobilie-Strasse-Hausnummer,
.Immobilie-Plz-Ort,
.Immobilie-Bundesland-Gemeindecode,
.Immobilie-Etage-AnzahlEtagen {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 0px;
}
.Immobilie-Strasse-Hausnummer .field,
.Immobilie-Plz-Ort .field,
.Immobilie-Bundesland-Gemeindecode .field,
.Immobilie-Etage-AnzahlEtagen .field {
  float: left;
  border-bottom: none;
  box-shadow: none;
  padding: 0px;
}

.Immobilie-Strasse-Hausnummer #OpenImmoStrasse {
  width: 460px;
  margin-right: 30px;
}
.Immobilie-Strasse-Hausnummer #OpenImmoStrasse .middleColumn {
  margin-left: 184px;
}
.Immobilie-Strasse-Hausnummer #OpenImmoHausnummer label {
  width: 100px;
}
.Immobilie-Strasse-Hausnummer #OpenImmoHausnummer .middleColumn {
  margin-left: 110px;
}
.Immobilie-Strasse-Hausnummer #OpenImmoHausnummer .middleColumn input {
  width: 95px;
}

.Immobilie-Plz-Ort #OpenImmoPlz {
  margin-right: 30px;
}
.Immobilie-Plz-Ort #OpenImmoPlz .middleColumn {
  margin-left: 184px;
}
.Immobilie-Plz-Ort #OpenImmoOrt {
  width: 460px;
}
.Immobilie-Plz-Ort #OpenImmoOrt label {
  width: 40px;
}
.Immobilie-Plz-Ort #OpenImmoOrt .middleColumn {
  margin-left: 5px;
}
.Immobilie-Plz-Ort #OpenImmoOrt .middleColumn input {
  width: 294px;
}

.Immobilie-Bundesland-Gemeindecode #OpenImmoBundesland {
  width: 460px;
  margin-right: 30px;
}
.Immobilie-Bundesland-Gemeindecode #OpenImmoBundesland .middleColumn {
  margin-left: 184px;
}
.Immobilie-Bundesland-Gemeindecode #OpenImmoGemeindecode label.left {
  width: 100px;
}
.Immobilie-Bundesland-Gemeindecode #OpenImmoGemeindecode label.right {
  margin: 0px;
}
.Immobilie-Bundesland-Gemeindecode #OpenImmoGemeindecode .middleColumn {
  margin-left: 110px;
}
.Immobilie-Bundesland-Gemeindecode #OpenImmoGemeindecode .middleColumn input {
  width: 95px;
}

.Immobilie-Etage-AnzahlEtagen #OpenImmoEtage {
  width: 400px;
  margin-right: 30px;
}
.Immobilie-Etage-AnzahlEtagen #OpenImmoEtage .middleColumn {
  margin-left: 184px;
}
.Immobilie-Etage-AnzahlEtagen input {
  width: 100px !important;
}
.Immobilie-Etage-AnzahlEtagen #OpenImmoAnzahlEtagen {
  width: 267px;
}
.Immobilie-Etage-AnzahlEtagen #OpenImmoAnzahlEtagen label.left {
  width: 100px;
}
.Immobilie-Etage-AnzahlEtagen #OpenImmoAnzahlEtagen label.right {
  margin: 0px;
  margin-left: 100px;
}

#OpenImmoWohnungsnr input {
  width: 100px;
}

#Form_SearchForm_q-Objektart li {
  width: auto;
  padding-bottom: 3px;
}
#Form_SearchForm_q-Objektart li label {
  font-size: 10px;
}

.field.no-padding {
	padding-left: 0;
}


#Root_Main .Rating-Holder li {
    width: 65px;
	font-size: 21px;
}

#Root_Main .Rating-Holder li label {
	padding-left: 0;
}


/* Translation Fields */
#Root_enUS  .field .description,
#Root_esES  .field .description,
#Root_deDE  .field .description {
    width: 512px !important;
    font-style: normal;
}
