
@import "compass/utilities/general/clearfix";


#Root_Main {
	.fieldgroup.UniqueId {
		padding-bottom:0px;
		label.UniqueIdDesc {
			//font-weight:bold;
		}
		
		#ImmoDbUniqueIDLeft {
			border-bottom:none;
			box-shadow: none;
			float:left;
			margin-right:10px;
		}
		#ImmoDbUniqueIDRight {
			float:left;
		}
	}
}

#Root_Main,
#Root_Immobilie {
	input {
		&.numeric,
		&.currency {
			width:160px;
			text-align:right;
		}
	}
	.grundstueckFields {
		padding:10px;
		background:#D4D6D8;
		border: 1px solid #B7B3B9;

		.optionset li {
			width:auto;
			label {
				padding-left:2px;
				padding-right:14px;
			}
		}
		
		h3 {
			margin-top:2px;
		}
		
		.pool {
			@include clearfix;
			border-bottom:1px solid #D0D3D5;
			box-shadow:0 1px 0 rgba(245, 245, 245, 0.8);
			
			
			#ImmoDbGrundstueckPool,
			#ImmoDbGrundstueckPoolGroesse
			{
				float:left;
				border:none;
				box-shadow:none;
			}
			#ImmoDbGrundstueckPool {
				width:140px;
			}
			#ImmoDbGrundstueckPoolGroesse {
				width:230px;
				margin-top:0px;
				label {
					font-weight:normal;
					padding:0px;
					text-shadow:none;
				}
			}
		}
		
		#ImmoDbGrundstueckAltbestandTyp {
			border:none;
			box-shadow:none;
		}
		#ImmoDbGrundstueckAltbestandCaM2 {
			.middleColumn {
				margin-left:184px;
			}
		}

	}
}


//Geo tab

.Immobilie-Strasse-Hausnummer,
.Immobilie-Plz-Ort,
.Immobilie-Bundesland-Gemeindecode,
.Immobilie-Etage-AnzahlEtagen {
	@include clearfix;
	padding-bottom:0px;
	.field {
		float:left;
		border-bottom:none;
		box-shadow:none;
		padding:0px;
	}
}


.Immobilie-Strasse-Hausnummer {
	#OpenImmoStrasse {
		width:460px;
		margin-right:30px;
		.middleColumn {
			margin-left:184px;
		}		
	}
	#OpenImmoHausnummer {
		label {
			width:100px;
		}
		.middleColumn {
			margin-left:110px;
			input {
				width:95px;
			}
		}
	}
}


.Immobilie-Plz-Ort {
	#OpenImmoPlz {
		//width:95px;
		margin-right:30px;
		.middleColumn {
			margin-left:184px;
		}	
	}
	#OpenImmoOrt {
		width:460px;
		label {
			width:40px;
		}
		.middleColumn {
			margin-left:5px;
			input {
				width:294px;
				
			}
		}

	}
}

.Immobilie-Bundesland-Gemeindecode {
	#OpenImmoBundesland {
		width:460px;
		margin-right:30px;
		.middleColumn {
			margin-left:184px;
		}		
	}
	#OpenImmoGemeindecode {
		label.left {
			width:100px;
		}
		label.right {
			margin:0px;
		}
		.middleColumn {
			margin-left:110px;
			input {
				width:95px;
			}
		}
	}
}


.Immobilie-Etage-AnzahlEtagen {
	#OpenImmoEtage {
		width:400px;
		margin-right:30px;
		.middleColumn {
			margin-left:184px;
		}		
	}
	input {
		width:100px!important;
	}
	#OpenImmoAnzahlEtagen {
		width:267px;
		label.left {
			width:100px;
		}
		label.right {
			margin:0px;
			margin-left:100px;
		}
	}
}

#OpenImmoWohnungsnr {
	input {
		width:100px;
	}
}



